SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=*

# Настройки базы данных
DB_ENGINE=postgresql
DB_NAME=imbir
DB_USER=imbir_user
DB_PASSWORD=imbir_password
DB_HOST=db
DB_PORT=5432

# Nikita SMS settings
NIKITA_SMS_URL=https://smspro.nikita.kg/api/send
NIKITA_SMS_LOGIN=your_nikita_login_here
NIKITA_SMS_PASSWORD=your_nikita_password_here
NIKITA_SMS_SENDER=Imbir

